*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/trufflephp-component.jar
language/dependency-reduced-pom.xml
native/trufflephp-native
**/target/
trufflephp-component.jar
trufflephp-native/trufflephp-native
/antlr-4.7.1-complete.jar
/graalvm-ce-java11-20.0.0/
/tools/graalvm.tar.gz
/tools/graalvm-ce-java11-20.0.0/
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguage.interp
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguage.tokens
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.interp
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.tokens
graalvm.tar.gz
.#*
graal_dumps
/trufflephp-component/jartmp7318173110672002863.tmp
/vendor/
tmp/
pom.xml.versionsBackup
**/__pychache__
/benchmarks/report/binary-trees-copy-by-ref-box.png
/benchmarks/report/binary-trees-copy-by-ref.png
/benchmarks/report/fannkuch-box.png
/benchmarks/report/fannkuch.png
/benchmarks/report/spectral-norm-boxplot.png
/benchmarks/report/spectral-norm-glob-boxplot.png
/benchmarks/report/spectral-norm-glob.png
/benchmarks/report/spectral-norm-ref-boxplot.png
/benchmarks/report/spectral-norm-ref.png
/benchmarks/report/spectral-norm-val-boxplot.png
/benchmarks/report/spectral-norm-val.png
/benchmarks/report/spectral-norm.png
/benchmarks/report/__pycache__/
/benchmarks/report/database.sqlite
**/.versionsBackup
/benchmarks/report/venv-docker/
/benchmarks/report/measurements.bak.sqlite
/benchmarks/report/docker/
/benchmarks/report/measurement-dump.txt
/php_info.php
/php_info.txt
/docs/benchmarks/README.tex
/docs/benchmarks/auto/
/benchmarks/report/dump.txt
.idea.*