/.idea/
/README.html
*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/trufflephp-component.jar
language/dependency-reduced-pom.xml
native/trufflephp-native
**/target/
trufflephp-component.jar
trufflephp-native/trufflephp-native
/antlr-4.7.1-complete.jar
/graalvm-ce-java11-20.0.0/
/tools/graalvm.tar.gz
/tools/graalvm-ce-java11-20.0.0/
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguage.interp
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguage.tokens
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.interp
/trufflephp-language/src/main/java/com/oracle/truffle/sl/parser/SimpleLanguageLexer.tokens
target/
bin/
classes/
dist/
gen2/
# cup-bin
/org.eclipse.php.core.parser/src-gen/
eclipse-pdt-fatjar.jar
.#*